@import 'styles/__variaveis.scss';

.header {
    width: 100%;
    height: 10vh;
    background-color: $light-grey;

    & .topnav {
        text-align: right;
        margin-top: 3vh;
        margin-right: $right;
    }
}

.logo {
    width: 100%;
    height: 8vh;
    margin-top: 1vh;
}

.link {
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
    margin-left: 3vh;
    margin-right: 3vh;
}