// Colors
$yellow: #F7D358;
$dark-grey: #4a4a4a;
$light-grey: #cacaca;
$background: radial-gradient(78.25% 78.25% at 70.31% 21.75%, #36343e 0, #0a090c 90.62%);

// Margin NotLogged
$top: 3vh;
$right: 16vh;
$left: 16vh;